@media (max-width: 1200px)

  //////=== hero ===//////
  .hero
    &__text
      max-width: 458px
      font-size: 18px
      line-height: 32px
  
  .container
    max-width: 950px
  
  //////=== collection ===//////
  .collection
    &-wrap
      padding-right: 0
    &__main
      max-width: 326px
      
    &__text
      font-size: 19px
      line-height: 33px
  .winter
    &__person
      width: 280px
    &__bridges
      width: 270px

  //////=== ===//////
  //////=== ===//////
