@media ( max-width: 480px )
  //////=== header ===//////
  .hero
    margin-top: 74px
    max-width: 100%
    background-size: auto 71%
    background-position: center -2%
    &:after
      background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 33.32%, #e8eae9 66.51%)
    &__container
      align-items: center
      justify-content: center
    &__title
      text-align: center
    &__text
      text-align: center
    &__hashtag
      background: #f1f1f1a3

  .info
    max-width: 267px
    justify-content: center
    &__tab
      &_2
        margin-right: 21px

  //////=== collection ===//////
  .collection
    &-wrap
    &__main
    &__text
  .winter
    &__person
      height: 400px
    &__bridge
      height: 146px

  //////=== trendings ===//////
  .trending
    &__title
      flex-basis: 100%
      text-align: center
  .card
    // height: 375px
    // &__img
    //   height: 75%
    // &-add
    //   &__wrap
    //     height: 75%

  //////=== feedback ===//////
  .feedback
    &-slider
      &__text
        line-height: 33px
  .swiper
    &-container
      height: 480px
