@media ( max-width: 576px  )
  .container
    max-width: 92%
    min-width: 272px
  .menu
    width: 105%
    left: 0
    right: 0
    margin-left: -3%
  .logo
    margin-left: 2px
  .hero
    // background-size: auto 66%
    // background-position: center -1%
    &:after
      background: linear-gradient(216deg, rgba(238, 238, 238, 0.0001) 38.32%, #e8eae9 60.51%)