@media (max-width: 767px)
  .bold-text
    font-size: 28px
    line-height: 36px

  .container
    max-width: 570px
  //////=== header ===//////
  .header
    &-wrapp
      padding: 11px 0 11px 0
  .menu
    top: 8px
    &__active
      top: 14px

  //////=== hero ===//////
  .hero
    margin-top: 100px
    position: relative
    padding: 0px 0 36px 25px
    background-size: 508px 95%
    background-position: 101% 1%
    &:after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(216deg, rgba(238, 238, 238, 0.0001) 42.32%, #e8eae9 66.51%)

    &__hashtag
      max-width: 172px
    &__btn
      max-width: 233px

    &__container
      position: relative
      z-index: 1
      padding-top: 381px
      margin-left: 0
      display: flex
      flex-direction: column
      justify-content: flex-end
    &__hashtag
      margin-bottom: 24px
    &__title
      font-size: 32px
      line-height: 40px
      max-width: 294px
    &__text
      max-width: 400px
      margin-bottom: 36px
      max-width: 329px
      margin-bottom: 24px
      font-size: 16px
      line-height: 28px
    &__btn
      margin-bottom: 22px
  .info
    flex-wrap: wrap
    max-width: 242px
    &__tab
      &_1
        margin-top: 12px
      &_2
        order: -2
      &_3
        order: -1

  //////=== collection ===//////
  .collection
    &-wrap
      padding: 80px 0px
      flex-direction: column
    &__main
      max-width: 100%
    &__title
      margin-bottom: 18px
      font-size: 28px
      line-height: 36px
    &__text
      margin-bottom: 30px
      font-size: 16px
      line-height: 28px
    &__check
      font-size: 16px
      line-height: 22px
    &__arrow
      margin-left: 20px
      vertical-align: middle
  .winter
    margin-bottom: 40px
    &__person
      width: 340px
      height: 490px
    &__bridges
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 334px

  //////=== trending ===//////
  .trending
    &-wrap
      display: flex
      flex-direction: column
    &-top
      display: block
      margin-bottom: 56px
    &__title
      text-align: center
      margin-bottom: 28px

  .card
    width: 265px
    margin-bottom: 32px
    &__img
      height: 350px
    &-add
      &__wrap
        height: 350px
        width: 265px
  .tabs
    &-trigger
      margin: auto
    &-content
      &__item
        top: 40px
        &_active
          top: 0

  //////=== story ===//////
  .story
    &__swiper
      &-container
        width: 100%
    &-card
      &__img
        margin-left: 16px
      &__topic
        padding: 20px 34px 20px 20px
        width: 263px
        bottom: 54px
        left: 22px
      &__title
        font-size: 20px
        line-height: 24px

  //////=== story ===//////

  .footer
    &-wrapper
      // padding: 64px 0 64px 0
    &-grid
      grid-template: repeat(2, 1fr) 23% / repeat(3, 1fr)
      grid-gap: 48px 30px
      &__logo
        grid-area: 3 / 1 / 4 / 4

      &__product
        margin-left: 0
      &__company
        grid-area: 2/1
        margin-left: 0
      &__services
        grid-area: 1/2
      &__more
        grid-area: 2/2
